a, .menu__item, #effects-toggle {
  z-index: 2;
}

#background-effects {
  transition: 3s all;
  opacity: 0.85;

  &.background-effects_disabled {
    visibility: hidden;
    opacity: 0;
    transition: 3s all;
  }

  > div {
    position: absolute;
    border-radius: 50%;

    z-index: 1;
    filter: blur(21rem);
  }
}

.background-container-1 {
  width: 27.6rem;
  height: 27.6rem;
  left: 40.1%;
  top: -11.8%;

  background: linear-gradient(148.85deg, #E544FF -4.93%, #633CFF 99.01%);
}

.background-container-2 {
  width: 27.6rem;
  height: 27.6rem;
  left: 60%;
  top: 73%;

  background: linear-gradient(225.94deg, #D739FF 14.9%, #FFDF34 200.7%);
}

.background-container-3 {
  width: 26.6rem;
  height: 26.6rem;
  left: 61%;
  top: 314.5%;

  background: linear-gradient(235.33deg, #FF33EB 39.97%, #3461FF 116.79%);
}

.background-container-4 {
  width: 37rem;
  height: 37rem;
  left: 81.6%;
  top: 261%;

  background: linear-gradient(220.09deg, #FFB82F -4.37%, #FB33FF 106.94%);
}

.background-container-5 {
  width: 38.9rem;
  height: 38.9rem;
  left: -13.8%;
  top: 166%;

  background: linear-gradient(141.34deg, #CB37FF 2.02%, #F9B83A 121.18%);
}

.background-container-6 {
  width: 44.6rem;
  height: 44.6rem;
  left: 81.6%;
  top: -11%;

  background: linear-gradient(211.34deg, #3D73FF 16.67%, #2E56BD 98.59%)
}

@media (max-width: 576px) {
  .background-container-3 {
    top: 334.5%;
  }
}
