// Declare color variables
$text-white: rgb(255, 255, 255);
$text-normal: rgba(255, 255, 255, 0.85);
$text-muted: rgba(255, 255, 255, 0.65);
$text-faint: rgba(255, 255, 255, 0.5);
$text-outer-highlight: rgb(94, 186, 225);
$text-inner-highlight: linear-gradient(90.71deg, rgba(62, 197, 255, 0.87) -3.75%, rgba(191, 236, 255, 0.87) 88.49%);
$text-tag: linear-gradient(86.97deg, rgba(62, 197, 255, 0.87) 3.93%, rgba(172, 230, 255, 0.87) 138.84%);
$background-primary: rgb(23, 23, 23);
$background-secondary: rgb(9, 9, 9);
$background-modifier: rgb(37, 37, 37);
$button-border-color: rgb(156, 225, 255);
$button-border-color-muted: rgba(255, 255, 255, 0.08);
$grid-background: rgb(25, 24, 25);
$grid-shadow-color: rgba(0, 0, 0, 0.05);
