---
layout: "default"
header_title: "Projects"
permalink: "/projects/"
---

{% capture ws-title %}
<span class="inner-highlight">My projects</span>
{% endcapture %}

{% capture ws-content %}
<p>The best point in programming is that I can create almost anything I want.</p>
<p>Below you can see my pet-projects, some plugins, templates and training projects.</p>
{% endcapture %}

{% include welcome-screen.html title=ws-title content=ws-content %}

<section class="projects-screen even-section">
    <div class="projects-screen__body section-container">
        <h3 class="section-title">Tools and Plugins</h3>
        <div class="grid-block">
            {% for project in site.data.projects %}
            {% if project.category == 'Tools and Plugins' %}
            <div class="grid-element">
                <a class="grid-element__header" href="{{ project.link }}">
                    <img alt="#" class="grid-element__icon" src="{{ project.icon_url }}">
                    <span class="grid-element__title">{{ project.name }}</span>
                    <img alt="#" class="grid-element__link-arrow" src="../assets/icons/right-arrow.svg">
                </a>
                <p class="grid-element__description">{{ project.description }}</p>
                <div class="grid-element__tag-box">
                    <ul>
                        {% for tag in project.tags %}
                        <li class="grid-element__tag-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="projects-screen odd-section">
    <div class="projects-screen__body section-container">
        <h3 class="section-title">Templates</h3>
        <div class="grid-block">
            {% for project in site.data.projects %}
            {% if project.category == 'Templates' %}
            <div class="grid-element">
                <a class="grid-element__header" href="{{ project.link }}">
                    <img alt="#" class="grid-element__icon" src="{{ project.icon_url }}">
                    <span class="grid-element__title">{{ project.name }}</span>
                    <img alt="#" class="grid-element__link-arrow" src="../assets/icons/right-arrow.svg">
                </a>
                <p class="grid-element__description">{{ project.description }}</p>
                <div class="grid-element__tag-box">
                    <ul>
                        {% for tag in project.tags %}
                        <li class="grid-element__tag-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="projects-screen even-section">
    <div class="projects-screen__body section-container">
        <h3 class="section-title">Other</h3>
        <div class="grid-block">
            {% for project in site.data.projects %}
            {% if project.category == 'Other' %}
            <div class="grid-element">
                <a class="grid-element__header" href="{{ project.link }}">
                    <img alt="#" class="grid-element__icon" src="{{ project.icon_url }}">
                    <span class="grid-element__title">{{ project.name }}</span>
                    <img alt="#" class="grid-element__link-arrow" src="../assets/icons/right-arrow.svg">
                </a>
                <p class="grid-element__description">{{ project.description }}</p>
                <div class="grid-element__tag-box">
                    <ul>
                        {% for tag in project.tags %}
                        <li class="grid-element__tag-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
