---
layout: "default"
header_title: "Writings"
permalink: "/writings/"
---

{% capture ws-title %}
<span class="inner-highlight">My writings</span>
{% endcapture %}

{% capture ws-content %}
<p>I write sometimes. My favorite topics are programming, note-taking and productivity.</p>
<p>Hope you'll find something useful or interesting for you.</p>
{% endcapture %}

{% include welcome-screen.html title=ws-title content=ws-content %}

<section class="writings-screen even-section">
    <div class="writings-screen__body section-container">
        <div class="grid-block">
            {% for post in site.posts %}
            <div class="grid-element">
                <a class="grid-element__header" href="{{ post.url }}" target="_blank">
                    <span class="grid-element__title">{{ post.title }}</span>
                    <img alt="#" class="grid-element__link-arrow" src="../assets/icons/right-arrow.svg">
                </a>
                <p class="grid-element__description">{{ post.description }}</p>
                <div class="grid-element__tag-box">
                    <ul>
                        {% for tag in post.tags %}
                        <li class="grid-element__tag-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
